*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.sass-cache/
.versions/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# demo stuff
demos/node_modules
demos/polyfills
demos/css
demos/fonts
demos/src/**/*.js
demos/src/**/*.map
demos/src/**/*.ngfactory.ts
demos/src/**/*.d.ts
demos/src/**/*.metadata.json
demos/src/**/*.css.shim.ts
prerender.html
prerender-domino.html
prerender-hydrated.html
prerender-static.html
