<ion-modal-view class="new-report-modal">
    <ion-content direction="y" class="new-report-scroll">
        <div class="new-report-slide">
          <div class="new-report-content">
            <div class="category-header">
              <h3>¿Olvidaste tu contraseña?</h3>
            </div>
            <div class="list">
              <div class="text-input-header">
                <h3>Email *</h3>
              </div>
              <div class="text-input-container">
                <input style="color: #ffffff; padding-left: 10px; padding-right: 10px;" class="text-input" type="email" placeholder="Proporcionar un correo electrónico" ng-model="nonauth.email"/>
              </div>
              <div class="field-separator"></div>
              <div id="error_container"></div>
              <div class="padding">
                <button class="form-button" ng-click="forgot_password_ok()">Envíame instrucciones</button>
                <div class="field-separator"></div>
                <button class="form-button" ng-click="close_login_modal()">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
    </ion-content>
    <div id="spinner-inside-modal" class="modal-spinner"><h3>Aguarde por favor</h3><ion-spinner icon="spiral"></ion-spinner><h3 id="sent_label">Enviado: 100%</h3></div>
</ion-modal-view>
