<ion-view title="Intro" hide-nav-bar="true" class="intro-background">
  <ion-content scroll="false">
    <div class="intro-logo">
    </div>
    <div class="intro-spinner"><ion-spinner icon="spiral"></ion-spinner></div>
  	<div class="intro-icons">
  		<a ng-click="openWebsite('https://www.mysociety.org')"><img src="./img/icon-my-society.png"/></a>
  		<a ng-click="openWebsite('http://datauy.uservoice.com')"><img src="./img/icon-data.png"/></a>
      <a ng-click="openWebsite('http://www.montevideo.gub.uy')"><img src="./img/icon-imm.png"/></a>
  	</div>
  </ion-content>
</ion-view>
