<ion-view title="Por Mi Barrio" hide-nav-bar="true">

<ion-nav-title>

</ion-nav-title>

<div id="spinner" class="intro-spinner"><ion-spinner icon="spiral"></ion-spinner></div>
<div id="pinspinner" class="intro-spinner"><ion-spinner icon="spiral"></ion-spinner></div>

<!--<div class="top-bar-imm">
  <div class="white-bar-imm"></div>
  <div class="icon-imm-top"/></div>
</div>-->


  <ion-content data-tap-disabled="true">

    <leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map"></leaflet>

  </ion-content>

  <div id="map_crosshair">
  </div>
  <div id="map_crosshair_button">
    <button class="custom-html-modal-button" ng-click="startReportFromCrosshairs()">Reportar</button>
  </div>

  <ion-scroll direction="y" id="report-list-scroll">
    <div id="report-list">
      <div id="report-container-{{report.properties.id}}" ng-click="goToReport(report)" ng-repeat="report in reportsVisible track by $index" class="report-inside-list">
        <div cache-src="{{baseURL}}{{getOnlyCategoryIconURL(report.properties.category_url)}}" src-is="background" background-style="no-repeat center" class="report-in-list-icon">
        </div>
        <div class="report-in-list-info">
          <p id="report-title-{{report.properties.id}}" style="color: {{report.properties.color}};" class="report-in-list-title">{{report.properties.title}}</p>
          <p id="report-category-{{report.properties.id}}" class="report-in-list-category">{{report.properties.category}}</p>
          <p id="report-date-{{report.properties.id}}" class="report-in-list-date">{{report.properties.date}}</p>
          <div class="report-mini-icons">
            <img class="report-mini-icon" ng-if="report.properties.fixed" src="./img/icon-resuelto.png" />
            <img class="report-mini-icon" ng-if="report.properties.has_photo" src="./img/icon-camera.png" />
            <img class="report-mini-icon" ng-if="report.properties.has_comment" src="./img/icon-comments.png" />
            <img class="report-mini-icon" src="./img/icon-tags.png" />
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>
  <div id="offline-report-list-container">

  </div>


<div id="foot_bar" class="foot-bar">
  <div class="street-search-bar">
    <div class="search-icon"></div>
    <label class="search-textbox-label">
        <input ion-autocomplete type="text" id="search-textbox" readonly="readonly" class="ion-autocomplete" autocomplete="off"
               ng-model="model"
               external-model="externalModel"
               selected-items="selectedItems"
               search-items="preselectedSearchItems"
               item-value-key="lat"
               item-view-value-key="address"
               items-method="searchLocation(query)"
               placeholder="Ir a: escribir calle."
               items-clicked-method="itemsClicked(callback)"
               items-removed-method="itemsRemoved(callback)"
               cancel-button-clicked-method="itemsCanceled(callback)"
               max-selected-items="1"
               select-items-label="Seleccione una calle"
               manage-externally="true"
               selected-items-label="Calle"
               cancel-label="Volver"/>
    </label>
  </div>
  <div class="options-bar">
    <div id="button-report" class="option-active">
      <div class="button-report" ng-click="new_report(0)"></div>
    </div>
    <div id="button-list-reports" class="option-inactive">
      <div class="button-list-reports" ng-click="list_reports()"></div>
    </div>
    <div id="button-faq" class="option-inactive">
      <div class="button-faq" ng-click="help()"></div>
    </div>
    <div id="button-find-me" class="option-inactive">
      <div class="button-find-me" ng-click="find_me()"></div>
    </div>
    <div class="user-options">
      <div id="user_picture" class="user-picture" cache-src="{{user_cached_image}}" src-is="background" background-style="no-repeat center" ng-click="user_options()"></div>
    </div>
  </div>
  <div id="user-options-menu">
  </div>
</div>

</ion-view>
