<ion-modal-view>
  <ion-content id="report-detail-scroll" class="report-detail-scroll" delegate-handle="content">
  <!--<ion-scroll direction="y" class="report-detail-scroll">-->
    <div ng-bind-html="report_detail" class="report-detail-container" id="report-detail-container-div">
    </div>
    <div id="comment_container">
      <h3 style="margin-left: 10px;">Agregar nuevo comentario</h3>
      <h5 style="margin-left: 10px;">Agregar una foto</h3>
      <div class="foto-input-container">
		<div class="foto-input-container">
			<input type="file" id="upimgfile" name="uploadfile" onchange="angular.element(this).scope().readURL(this,2)" ng-model="comment.photo">
			<div class="preview-img"> <img id="myImage" width="150"   size="30" /> </div>
              </div>
      </div>
      <ion-list>
        <ion-item>
          <ion-checkbox item-right ng-Model="comment.may_show_name"></ion-checkbox>
          <ion-label>Mostrar mi nombre</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox item-right ng-Model="comment.add_alert"></ion-checkbox>
          <ion-label>Recibir futuros comentarios</ion-label>
        </ion-item>
        <ion-item ng-if="isBodyAdmin==false">
          <ion-checkbox item-right ng-Model="comment.fixed"></ion-checkbox>
          <ion-label>Problema arreglado</ion-label>
        </ion-item>
        <ion-item ng-if="isBodyAdmin==true">
          <ion-label>Estado:</ion-label>
          <br/>
          <select ng-Model="comment.state">
						<option value="investigating">Investigando</option>
						<option value="action scheduled">Acción agendada</option>
						<option value="in progress">En Progreso</option>
						<option value="fixed">Arreglado</option>
          </select>
        </ion-item>
        <ion-item ng-if="isBodyAdmin==true">
          <ion-label>Asignar categoría:</ion-label>
          <br/>
          <select id="new_category_select" ng-Model="comment.new_category">
            <option ng-repeat="cat in allCategoriesFromBoyArea" value="{{cat}}">{{cat}}</option>
          </select>
        </ion-item>
        <ion-item>
          <textarea style="width: 100%" ng-Model="comment.update" placeholder="Ingrese un comentario" rows="6"></textarea>
        </ion-item>
      </ion-list>
      <div id="error_container_inside">
      </div>
      <button style="margin-top: 10px;" class="custom-html-modal-button" ng-click="send_comment()">Comentar</button>
      <div id="spinner-inside-modal" class="modal-spinner"><h3>Aguarde por favor</h3><ion-spinner icon="spiral"></ion-spinner><h3 id="sent_label">Enviado: 100%</h3></div>
    </div>
    <div id="error_container"></div>
    <button style="float: right; margin-top: -60px; margin-right: 10%;" class="custom-html-modal-button" ng-click="close_report_detail_modal()">Volver al mapa</button>
  <!--</ion-scroll>-->
</ion-content>

</ion-modal-view>
